gds/openframe_project_wrapper.gds.gz filter=lfs diff=lfs merge=lfs -text
verilog/gl/openframe_project_wrapper.v filter=lfs diff=lfs merge=lfs -text
lvs/openframe_project_wrapper/lvs.report filter=lfs diff=lfs merge=lfs -text
